# misc
.DS_Store
*.pem

# IDE
.vscode
.idea

# AI settings
.claude

# Byproduct of the test environment
docker/.env
docker/postgres/data/*
docker/redis/data/*
docker/nginx/ssl/*
docker/nginx/conf.d/*.conf
docker/etcd/*
docker/loki/data/*
docker/tempo/data/*